.speedometer-container {
  width: 200px;
  margin: auto;
  text-align: center;
}

.speedometer-svg {
  width: 100%;
  height: auto;
}

.speedometer-label {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #4b0082;
  font-weight: 500;
}
